body {
    margin: 0;
    padding: 0;
}


.glyphicon {
    content: "*";
}

.grid {
    width: 720px;
    height: 720px;
    display: grid;
    grid-template-columns: repeat(36, calc(720px / 36));
    grid-template-rows: repeat(36, calc(720px / 36));
}

.lines {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    background-size: calc(720px / 18) calc(720px / 18);
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}